:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;

  /* 自定义变量 */
  --item-border-color: #ddd;
  --item-shadow-color: #dddddd;
  --column-background-color: #f5f5f5;



  /* tag标签颜色 */
  --tag-life-color: #74bb44;
  --tag-note-color: #016dd9;
  --tag-tutorial-color: #7b3987;
  --tag-Web-color: #389ea9;
  --tag-gush-color: #e9792a;
  --tag-resource-color: #009438;
  --tag-other-color: #365d69;
}

.dark {
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;

  /* 自定义变量 */
  --item-border-color: #302f2f;
  --item-shadow-color: #2c3639;
  --column-background-color: #1a1a1a;

}

/* 自定义侧边栏在最左边，右边撑满宽度 */
.VPDoc .container {
  margin: 0 !important;
}

@media (min-width: 960px) {
  .VPDoc:not(.has-sidebar) .content {
    max-width: 1552px !important;
  }
}

.VPDoc.has-aside .content-container {
  max-width: 1488px !important;
}

@media (min-width: 960px) {
  .VPDoc:not(.has-sidebar) .container {
    display: flex;
    justify-content: center;
    max-width: 1562px !important;
  }
}

.aside-container {
  position: fixed;
  top: 0;
  padding-top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + var(--vp-doc-top-height, 0px) + 10px) !important;
  width: 224px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

/* 自定义h2的间距 */
.vp-doc h2 {
  margin: 0px 0 16px;
  padding-top: 24px;
  border: none;
}

/* 自定义底部距离 */
@media (min-width: 768px) {
  .VPFooter {
    padding: 10px !important;
  }
}



:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(45deg, var(--bear-bg-color1), var(--bear-bg-color2));
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  /* --vp-home-hero-image-background-image: linear-gradient(-45deg, #09ffca 50%, #47caff 50%); */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, var(--bear-bg-color1) 50%, var(--bear-bg-color2) 50%);
  --vp-home-hero-image-filter: blur(44px);
  /* --vp-home-hero-image-filter: blur(0px); */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --bear-bg-color1: #09ffca;
  --bear-bg-color2: #47caff;
  /* --time-bg-color: #f6f6f7; */


}

.dark {
  --bear-bg-color1: #bd34fe;
  --bear-bg-color2: #47caff;
  /* --time-bg-color: #282829; */
}

